# Dependency directories
node_modules/
**/node_modules/

# Environment files
.env
**/.env
.env*.local

# Build output directories
dist/
**/dist/
**/dist-ssr/

# Editor files
.vscode/
.idea/
.DS_Store

# Logs and system files
*.log
**/logs/
Thumbs.db
